<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Romeo and Juliet
        style.
            table { border-collapse:collapse; }
            table, th, td { border: 1px solid black; }
            #main {
                text-align: center;
                border-spacing: 1px;
            }
    body
        table#main
            tr
                th 排名
                th 单词
                th 使用次数
        script(src="./romeo.js")
